In [4]:
x = 4
y = 3
z = x + y
z

7

In [5]:
z * 5

35

In [6]:
def double(x):
    return x + x

In [7]:
double(z * 5)

70

In [8]:
from calcs import triple

In [9]:
triple(z * 5)

105

In [10]:
from sudoku import Sudoku

In [11]:
puzzle = Sudoku(3).difficulty(0.5)
puzzle.show()

+-------+-------+-------+
| 6     | 3 4   | 1   8 |
| 3     | 8 1   | 9   5 |
| 1 8 9 | 5   7 |   4 6 |
+-------+-------+-------+
|   1   | 9 5 4 |   3 2 |
| 2   6 |     8 |   5   |
| 5     | 7   2 |   9   |
+-------+-------+-------+
|     1 |     5 |   6   |
| 4     |     3 | 5 1 9 |
|       |     1 | 4     |
+-------+-------+-------+

In [12]:
puzzle.solve()

In [14]:
puzzle.show()

+-------+-------+-------+
| 6     | 3 4   | 1   8 |
| 3     | 8 1   | 9   5 |
| 1 8 9 | 5   7 |   4 6 |
+-------+-------+-------+
|   1   | 9 5 4 |   3 2 |
| 2   6 |     8 |   5   |
| 5     | 7   2 |   9   |
+-------+-------+-------+
|     1 |     5 |   6   |
| 4     |     3 | 5 1 9 |
|       |     1 | 4     |
+-------+-------+-------+

In [ ]:
puzzle = """
123456789
123142543
1.....435
"""